const firebaseConfig = {
    apiKey: '$FIREBASE_API_KEY',
    authDomain: '$FIREBASE_PROJECT.firebaseapp.com',
    databaseURL: 'https://$FIREBASE_PROJECT.firebaseio.com',
    projectId: '$FIREBASE_PROJECT',
    storageBucket: '$FIREBASE_PROJECT',
    messagingSenderId: 'my-sender-id'
};

export default firebaseConfig;